#blocklyDiv {
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
}

.container-buttons {
  position: absolute;
  left: 60%;
  top: 2%;
}

.scene-container{
  position: absolute;
  left: 60%;
  top: 8%;
}