.containerEditor {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.containerLeft {
  height: 100vh;
  width: 60%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.containerCenter{
  width: 5%;
  height: 100vh;
  display: flex;
  background-color: #ddd;
}

.containerRight {
  width: 35%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerBlockly {
  flex-grow: 1;
}

.containerSketch {
  margin-left: auto!important;
  margin-right: auto!important;
}

.containerButtons {
  display: flex;
  flex-direction: column;  
}

.play-btn {
  background-color: #17116e;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  max-width: 60px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  z-index: 9998;
}

.play-btn > span {
  color: #f1d00c;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  display: flex;
  white-space:nowrap;
}

.play-btn:hover {
  cursor: pointer;
  max-width: 300px;
}

.play-btn > img {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.play-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.select-scenario{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

select {
  /* Reset Select */
  appearance: none;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #f1d00c;
  background-color: #17116e;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
select:hover{
  background-color: #110d4b!important;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #17116e;
  color: #f1d00c;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #17116e;
  background-color: #f1d00c;
}