.containerEditor {
  height: 100vh;
  width: 99vw;
  display: flex;
}

.containerLeft {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.containerRight {
  width: 45vw;
  float: right;
}



.containerBlockly {
  flex-grow: 1;
}